/* Estilos generales para la página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Contenedor del dashboard */
.contenedor-dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadros {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px;
    width: 60%; /* Ancho de los cuadros */
    justify-content: center;
}

.cuadro {
    background-color: #ffba00;
    color: #fff;
    text-align: center;
    padding: 2em;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    text-transform: uppercase;
}

.cuadro:hover {
    background-color: #e0a800;
    transform: translateY(-5px); /* Efecto hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.cuadro:active {
    transform: translateY(2px); /* Efecto al presionar */
}

/* Estilo para la versión móvil */
@media (max-width: 768px) {
    .cuadros {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        width: 80%;
    }
}
